<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"  
      xml:lang="en"  
      lang="en"> 

<body>
<wicket:extend>
		<div class="container">
			<div class="row" style="padding-top:5px;">
				<div class="span12">
					<div class="dashboardTitle">
						<span wicket:id="projectTitle"></span>
						<small><span wicket:id="projectDescription"></span></small>
						
						<a
							class="hidden-phone hidden-tablet brand"
							style="text-decoration: none;" wicket:id="syndication"
							wicket:message="title:gb.feed"> <img
							style="border: 0px; vertical-align: middle;" src="feed_16x16.png"></img>
						</a>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="span7">					
					<div class="hidden-phone hidden-tablet markdown" style="padding-bottom: 30px;" wicket:id="projectMessage">[project message]</div>
					<div wicket:id="activity">[activity panel]</div>
				</div>
				<div class="span5">
					<div class="hidden-phone hidden-tablet markdown" wicket:id="repositoriesMessage">[repositories message]</div>
					<div wicket:id="repositoryList">[repository list]</div>
				</div>
			</div>
		</div>

<wicket:fragment wicket:id="activityFragment">
	<div class="dashboardTitle"><span class="hidden-phone hidden-tablet" wicket:id="feedTitle"></span> <small><span wicket:id="feedheader"></span></small></div>
	<div class="hidden-phone hidden-tablet"  style="text-align:center;">
		<div wicket:id="charts"></div>
	</div>
	<div wicket:id="digests"></div>
</wicket:fragment>

<wicket:fragment wicket:id="chartsFragment">
	<table>
		<tr>
			<td><div id="chartRepositories" style="display:inline-block;width: 175px; height:175px"></div></td>
			<td><div id="chartAuthors" style="display:inline-block;width: 175px; height: 175px;"></div></td>
		</tr>
	</table>
</wicket:fragment>
		
<wicket:fragment wicket:id="repositoryListFragment">
	<div ng-controller="repositoryListCtrl" style="border: 1px solid #ddd;border-radius: 4px;margin-bottom: 20px;">
		<div class="header" style="padding: 5px;border: none;"><img style="vertical-align: middle;" src="git-black-16x16.png"/> <wicket:message key="gb.repositories"></wicket:message> ({{repositoryList.length}})
			<div style="padding: 5px 0px 0px;">
				<input type="text" ng-model="query.r" class="input-large" wicket:message="placeholder:gb.filter" style="border-radius: 14px; padding: 3px 14px;margin: 0px;"></input>
			</div>
		</div>
		
		<div ng-repeat="item in repositoryList | filter:query" style="padding: 3px;border-top: 1px solid #ddd;">
			<b><span class="repositorySwatch" style="background-color:{{item.c}};"><span ng-show="item.wc">!</span><span ng-show="!item.wc">&nbsp;</span></span></b>
			<a href="summary/?r={{item.r}}" title="{{item.i}}">{{item.p}}<b>{{item.n}}</b></a>
			<span class="link hidden-tablet hidden-phone" style="color: #bbb;" title="{{item.d}}">{{item.t}}</span>
			<span ng-show="item.s" class="pull-right">
				<span style="padding: 0px 5px;color: #888;font-weight:bold;vertical-align:middle;">{{item.s | number}} <i style="vertical-align:baseline;" class="iconic-star"></i></span>
			</span>
		</div>		
	</div>
</wicket:fragment>		
	</wicket:extend>
</body>
</html>