/temp
/lib
/ext
/build
/site
/git
/build.properties
/federation.properties
/mailtest.properties
/.settings/
/src/main/java/WEB-INF/reference.properties
/bin/
/build-demo.xml
*.directory
/.gradle
/pom.xml
/x509test
/data
