/temp
/lib
/ext
/build
/keystore
/*.zip
/gitblit.properties
/users.properties
/site
/git
/target
/build.properties
/war
/*.war
/proposals
/*.jar
/federation.properties
/mailtest.properties
/.settings/*.prefs
/src/WEB-INF/reference.properties
/bin/
/.settings/
/javadoc
/express
/build-demo.xml
/users.conf
*.directory
/.gradle
