tags
/temp
/lib
/ext
/build
/site
/git
/lucene
/build.properties
/federation.properties
/mailtest.properties
/test-users.conf
/.settings/
/src/main/java/reference.properties
/src/main/java/WEB-INF/reference.properties
/bin/
/build-demo.xml
*.directory
/.gradle
/pom.xml
/x509test
/data
/*.conf
/build-next.xml
/*.ps1
/*.sh
/*.factorypath
/src/main/dagger
/**/.idea
/**/init.lua
/**/session
/nbproject/private
# backup files from most of editors
*.java~
*.html~
*.properties~
*.xml~
# Generated javadoc files for "javadoc" target.
/javadoc
