/*
 * Git:Blit Markdown CSS definition.
 */

div.markdown {
	line-height: 1.4em;
	color: black;
}

div.markdown li {
	color: black;
}

div.markdown h1,
div.markdown h2, 
div.markdown h3, 
div.markdown h4, 
div.markdown h5, 
div.markdown h6 {
    border: 0 none !important;
}

div.markdown h1 {    
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #000080 !important;
}

div.markdown h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;    
	border-bottom: 2px solid #000080 !important;    
}

div.markdown pre {
	background-color: #f8f8f8;    
    border: 1px solid #2f6fab;
    border-radius: 3px;
    overflow: auto;
    padding: 5px;
}

div.markdown pre code {
    background-color: inherit;
    border: none;    
    padding: 0;
}

div.markdown code {
	background-color: #ffffe0;
    border: 1px solid orange;
    border-radius: 3px;
    padding: 0 0.2em;
}

div.markdown a {
	text-decoration: underline;	
}

div.markdown ul, div.markdown ol {
	padding-left: 30px;
}

div.markdown li {
	margin: 0.2em 0 0 0em; padding: 0px;
}

div.markdown em {
	color: #b05000;
}

div.markdown table.text th, div.markdown table.text td {
	vertical-align: top;
	border-top: 1px solid #ccc;
	padding:5px;
}