/* Pretty printing styles. Used with prettify.js.
 *
 * This version is slight modified based on the original version.
 *
 * Name:	Stanley Ng
 * Email: 	stanleyhlng@googlegroups.com
 * 
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln {
  color: #ffffff; }

.str {
  color: #d1f1a9; }

.kwd {
  color: #ebbbff; }

.com {
  color: #7285b7;
  font-style: italic; }

.typ {
  color: #bbdaff; }

.lit {
  color: #ffc58f; }

.pun {
  color: #ffffff; }

.opn {
  color: #ffffff; }

.clo {
  color: #ffffff; }

.tag {
  color: #ff9da4; }

.atn {
  color: #ffc58f; }

.atv {
  color: #99ffff; }

.dec {
  color: #ffc58f; }

.var {
  color: #ff9da4; }

.fun {
  color: #bbdaff; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: #002451;
  padding: 10px;
  border: 1px solid #E1E1E8; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #7285b7;
  margin: 0 0 0 40px; }

ol.linenums li {
  line-height: 18px;
  padding-left: 12px; }
