/* Tomorrow Night Bright Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
  color: #eaeaea;
}

@media screen {
  /* string content */
  .str {
    color: #b9ca4a;
  }

  /* a keyword */
  .kwd {
    color: #c397d8;
  }

  /* a comment */
  .com {
    color: #969896;
  }

  /* a type name */
  .typ {
    color: #7aa6da;
  }

  /* a literal value */
  .lit {
    color: #e78c45;
  }

  /* punctuation */
  .pun {
    color: #eaeaea;
  }

  /* lisp open bracket */
  .opn {
    color: #eaeaea;
  }

  /* lisp close bracket */
  .clo {
    color: #eaeaea;
  }

  /* a markup tag name */
  .tag {
    color: #d54e53;
  }

  /* a markup attribute name */
  .atn {
    color: #e78c45;
  }

  /* a markup attribute value */
  .atv {
    color: #70c0b1;
  }

  /* a declaration */
  .dec {
    color: #e78c45;
  }

  /* a variable name */
  .var {
    color: #d54e53;
  }

  /* a function name */
  .fun {
    color: #7aa6da;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre.prettyprint {
  background: black;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  padding: 10px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
