 Hello $userDisplayname,

 Your private key, public certificate, and the Gitblit Certificate Authority 
 certificate for $serverHostname are bundled together in the attached zip file.

 There are also setup/installation instructions included in the zip for Git and
 several major browsers to get you started.