/*
 Git:Blit css.
*/
html, body, table, dl, dt, dd, ol, ul, li, form, a, span, tr, th, td, div, em {
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 1.35em;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	width: 980px;
	margin: 5px;
	background-color: #ffffff;
	color: #000000;
    margin-right: auto;
    margin-left: auto;    
    padding: 0px;
    background: url(background.png) repeat-x scroll 0 0 #FFFFFF;
}

pre, code, pre.prettyprint, pre.plainprint {
	color: black;
	font-family: monospace;
	font-size:12px;
	border:0px;
}

/* age0: age < 60*60*2 */
.age0 {
	color: #008000;
	font-style: italic;
	font-weight: bold;
}

/* age1: 60*60*2 <= age < 60*60*24*2 */
.age1 {
	color: #008000;
	font-style: italic;
}

/* age2: 60*60*24*2 <= age */
.age2 {
	font-style: italic;
}

img.inlineIcon {
	padding-left: 1px;
	padding-right: 1px;
}

a {
	color: #0000cc;
}

a:hover, a:visited, a:active {
	color: #880000;
}

img.logo {
	float: right;
	border-width: 0px;
}

img.activityGraph {
	float: right;
	border-width: 0px;
	padding: 8px;
}

div.repositories_message {
	line-height: inherit;
}

div.header, div.commitHeader {
	background-color: #D2C3AF;
	padding: 3px;
	border: 1px solid #808080;
}

div.header {
	border-radius: 3px 3px 0 0;
}

div.commitHeader {
	border-radius: 3px;
}

div.header a, div.commitHeader a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

div.header a:hover, div.commitHeader a:hover {
	text-decoration: underline;
}

div.pager {
	padding: 0px 0px 15px 5px;
}

span.empty {
	font-size: 0.9em;
	font-style: italic;
	padding-left:10px;
	color: #008000;
}

span.link, span.link a {
	font-family: sans-serif;
	font-size: 11px;
}

span.link em, div.link span em {
	font-style: normal;
	font-family: sans-serif;
	font-size: 11px;
}

div.page_header {
	height: 25px;
	padding: 5px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 150%;
	color: #888;
	background: transparent;
}

div.page_header span {	
	font-family: inherit;
	font-size: inherit;	
}

div.page_header a  {
	font-size: inherit;	
	font-family: inherit;
	text-decoration: none;
}

div.page_header a:visited {
	color: #000000;
}

div.page_header a:hover {
	color: #E66C2C;
	text-decoration: underline;
}

div.page_footer {
	clear: both;
	height: 17px;
	color: black;
	background-color: #ffffff;
	padding: 5px;
	border-top: 1px solid #bbb;
	font-style: italic;
}

div.page_nav {
	color: #ddd;
	background-color: #000070;
	padding: 7px;
	border-radius: 3px;
}

div.page_nav a {
	color: yellow;
	text-decoration: none;
}

div.page_nav a:hover {	
	text-decoration: underline;
}

div.page_nav em {
	font-style: normal;
}

div.page_nav2 {
	padding: 2px 5px 7px 5px;	
}

div.admin_nav {
	padding: 5px 5px 5px 2px;	
}

div.admin_nav a {
	text-decoration: none;
}

div.admin_nav a:hover {	
	text-decoration: underline;
}

div.search {
	color:yellow;
	text-align:right;
	float:right;
	padding:4px 4px 3px 3px;
	border-left: 1px solid #8080f0;
	margin: 0px;
	height: 23px;
}

div.search input {
	vertical-align: top;
	background: url(/com/gitblit/wicket/resources/search-icon.png) no-repeat 4px center;
	color: #ddd;
	background-color: #000070;
	border: 1px solid transparent;
	padding: 2px 2px 2px 22px;
	margin: 0px;
}

div.search input:hover, div.search input:focus {
	color: white;
	border-bottom: 1px solid orange;	
	outline: none;
}

div.page_path {
	padding: 8px;
	font-weight: bold;
	border: solid #bbb;
	border-width: 0px 0px 1px;
}

div.commit_message {
	padding: 8px;
	border: solid #bbb;
	border-width: 1px 0px 0px;
}

div.bug_open, span.bug_open {
	padding: 2px;
	background-color: #803333;
	color: white;	
	text-align: center;
}

div.bug_resolved, span.bug_resolved {
	padding: 2px;
	background-color: #408040;
	color: white;
	text-align: center;
}

div.bug_invalid, span.bug_invalid {
	padding: 2px;
	background-color: gray;
	text-align: center;
}

div.bug_hold, span.bug_hold {
	padding: 2px;
	background-color: orange;
	text-align: center;
}

div.diff {
	font-family: monospace;
	overflow: auto;
}

div.diff.header {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EDECE6;
    border-color: #D9D8D1;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    margin-top: 10px;
    padding: 4px 0 2px;
}

div.diff.extended_header {
	background-color: #F6F5EE;
    padding: 2px 0;
    font-family: inherit;
}

span.diff.add {
	color: #008800;
	font-family: inherit;
}

span.diff.remove {
	color: #FFDDDD;
	font-family: inherit;
}

span.diff.unchanged {
	color: inherit;
	font-family: inherit;
}

div.diff.hunk_header {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFE0FF;
    border-style: dotted;
    border-width: 1px 0 0;
    margin-top: 2px;
    font-family: inherit;
}

span.diff.hunk_info {
	background-color: #FFEEFF;	
	color: #990099;
	font-family: inherit;
}

span.diff.hunk_section {	
	color: #AA22AA;
	font-family: inherit;
}

div.diff.add2 {
	background-color: #DDFFDD;
    font-family: inherit;
}

div.diff.remove2 {
	background-color: #FFDDDD;
    font-family: inherit;
}

div.diff table {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	width: 100%;
}

div.diff table th, div.diff table td {
	margin: 0px;
	padding: 0px;
	font-family: monospace;	
}

div.diff table th {
	background-color: #faf8dc;
	border-left: 1px solid #bbb;	
	text-align: center;
	color: #999;
	padding-left: 5px;
	padding-right: 5px;
	width: 30px;
}

div.diff table th.header {
	background-color: #D2C3AF;
	border-right: 0px;
	border-bottom: 1px solid #808080;
	font-family: inherit;
	font-size:0.9em;
	color: black;
	padding: 2px;
	text-align: left;
}

div.diff table td.hunk_header {
	background-color: #dAe2e5 !important;	
	border-bottom: 1px solid #bac2c5;
	color: #555;
}

div.diff table td {
	border-left: 1px solid #bbb;
	background-color: #fbfbfb;
}

td.changeType {
	width: 15px;
}

span.addition, span.modification, span.deletion, span.rename {
	border: 1px solid #888;
	float: left;
	height: 0.8em;
	margin: 0.2em 0.5em 0 0;
	overflow: hidden;
	width: 0.8em;
}

span.addition {
	background-color: #ccffcc;
}

span.modification {
	background-color: #ffdd88;
}

span.deletion {
	background-color: #f8bbbb;
}

span.rename {
	background-color: #cAc2f5;
}

div.commitLegend {
	float: right;
	padding: 0.4em;
	vertical-align:top;
	margin: 0px;
}

div.commitLegend span {
	font-size: 0.9em;
	vertical-align: top;
}

div.references {
	float: right;
	text-align: right;
}

a.list {
	text-decoration: none;
	color: #000000;
}

a.list.subject {
	font-weight: bold;
}

a.list.name {
	font-weight: bold;	
}

a.list:hover {
	text-decoration: underline;
	color: #880000;
}

table {
	border-spacing: 0px;
}

th {
	padding: 2px 5px;
	font-size: 100%;
	text-align: left;
}

table.plain {
	padding: 8px;
}

table.plain td.edit {	
	padding: 3px;
}

table.plain td.editButton {
	padding:0px;
	padding-top: 10px;
}

table.plain td.edit input {
	margin: 0px;
	outline: 1px solid transparent;
	border: 1px solid #ccc;	
	padding-left:5px;
}

table.plain td.edit input:focus, table.plain td.edit input:hover{
	border: 1px solid orange;
}

table.pretty, table.repositories, table.comments {
	margin-bottom:5px;
	border-spacing: 0px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;	
}

table.pretty, table.comments, table.repositories {
	width:100%;
}

table.pretty td.icon {
	padding: 0px 0px 0px 2px;	
	width: 18px;
}

table.pretty td.icon img {
	vertical-align: top;
}

table.pretty td {
	padding: 2px 4px;
}

table.comments td {
	padding: 4px;
	line-height: 17px;
}

table.repositories th {
	background-color:#D2C3AF;
	padding: 4px;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

table.repositories td {
	padding: 2px;
}

table.repositories td.icon img {
	vertical-align: top;
}

table.repositories th a {
	color:black;/*#ddd;*/
	text-decoration: none;
	font-weight: normal;
}

table.repositories th a:hover {
	text-decoration: underline;
}

table.repositories th.wicket_orderDown a, table.repositories th.wicket_orderUp a {
	color: black;
	font-weight: bold;
}

table.palette { border:0;}
table.palette td.header { 
	font-weight: bold; 
	background-color: #D2C3AF !important;
	padding: 3px !important;	
	border: 1px solid #808080 !important;
	border-bottom: 0px solid !important;
	border-radius: 3px 3px 0 0;
}
table.palette td.pane {
	padding: 0px;	
} 

tr th a { padding-right: 15px; background-position: right; background-repeat:no-repeat; }
tr th.wicket_orderDown a {background-image: url(arrow_down.png); }
tr th.wicket_orderUp a { background-image: url(arrow_up.png); }
tr th.wicket_orderNone a { background-image: url(arrow_off.png); }

tr.group {
	background-color: #E66C2C;
}

tr.group td {
	font-weight: bold;
	border-bottom: 1px solid orange;
	color: white;
	background-color: #E66C2C;	
}

tr.light {
	background-color: #ffffff;
}

tr.light td {
	border-bottom: 1px solid #bbb;	
}

tr.dark {
	background-color: #faf8dc;
	border-bottom: 1px solid #bbb;	
}

tr.dark td {
	border-bottom: 1px solid #bbb;	
}

/* currently both use the same, but it can change */
tr.light:hover,
tr.dark:hover {
	/*background-color: #0099b7;*/
	background-color: #000070;
	color: white;
}

tr.light:hover a,
tr.dark:hover a {
	color: white;	
}

td {
	padding-left: 7px;
	padding-right: 7px;
}

td.author {
	font-style: italic;
}

td.date {
	font-style: italic;	
}

span.sha1, span.sha1 a, span.sha1 a span {
	font-family: monospace;
	font-size: 13px;
}

td.mode {
	text-align: right;
	font-family: monospace;
	width: 8em;
	padding-right:15px;
}

td.size {
	text-align: right;
	width: 8em;	
	padding-right:15px;
}

td.rightAlign {
	text-align: right;
}

td.treeLinks {
	text-align: right;
	width: 13em;
}

span .tagRef, span .headRef, span .remoteRef, span .otherRef {	
	padding: 0px 3px;
	margin-right:2px;
	font-family: sans-serif;
	font-size: 9px;
	font-weight: normal;
	border: 1px solid;
	color: black;	
}

span .tagRef a span, span .headRef a span, span .remoteRef a span, span .otherRef a span {
	font-size: 9px;
}

span .tagRef a, span .headRef a, span .remoteRef a, span .otherRef a {
	text-decoration: none;
	color: black !important;
}

span .tagRef a:hover, span .headRef a:hover, span .remoteRef a:hover, span .otherRef a:hover {
	color: black !important;
	text-decoration: underline;
}

span .otherRef {
	background-color: #ffaaff;
	border-color: #ff00ee;
}

span .remoteRef {
	background-color: #cAc2f5;
	border-color: #6c6cbf;
}

span .tagRef {
	background-color: #ffffaa;
	border-color: #ffcc00;
}

span .headRef {
	background-color: #ccffcc;
	border-color: #00cc33;
}

.feedbackPanelERROR {	
	color: red;
	list-style-image: url(bullet_error.png);
	font-weight: bold;	
	vertical-align: top;
	padding:0;	
	margin:0;	
}

.feedbackPanelINFO {
	color: green;
	list-style: none;
	font-weight: bold;	
	padding:0;
	margin:0;
}

/* google-code-prettify line numbers */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 { color: #888; border-left: 1px solid #ccc; padding-left:5px; list-style-type: decimal !important; }

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #fafafa !important; }