/*
 Git:Blit css.
*/
html, body, table, dl, dt, dd, ol, ul, li, form, a, span, tr, th, td, div, em {
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 15px;
}

body {
	width: 980px;
	margin: 5px;
	background-color: #ffffff;
	color: #000000;
    margin-right: auto;
    margin-left: auto;
    margin-top: none;
    padding: 0px;
}

pre, pre.prettyprint, pre.plainprint {
	color: black;
	font-family: monospace;
	font-size:12px;
	border:0px;
}

/* age0: age < 60*60*2 */
.age0 {
	color: #009900;
	font-style: italic;
	font-weight: bold;
}

/* age1: 60*60*2 <= age < 60*60*24*2 */
.age1 {
	color: #009900;
	font-style: italic;
}

/* age2: 60*60*24*2 <= age */
.age2 {
	font-style: italic;
}


a {
	color: #0000cc;
}

a:hover, a:visited, a:active {
	color: #880000;
}

img.logo {
	float: right;
	border-width: 0px;
}

img.activityGraph {
	float: right;
	border-width: 0px;
	padding: 8px;
}

div.repositories_message {
	line-height: inherit;
}

div.header {
	background-color: #D2C3AF;
	padding: 3px;
	border: 1px solid #808080;
}

div.header a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

div.header a:hover {
	text-decoration: underline;
}

div.pager {
	padding: 0px 0px 15px 5px;
}

span.link, span.link a {
	font-family: sans-serif;
	font-size: 11px;
}

span.link em, div.link span em {
	font-style: normal;
	font-family: sans-serif;
	font-size: 11px;
}

div.page_header {
	height: 25px;
	padding: 5px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 150%;
	color: #bbb;
	background-color: #ffffff;
}

div.page_header span {	
	font-family: inherit;
	font-size: inherit;	
}

div.page_header a  {
	font-size: inherit;	
	font-family: inherit;
	text-decoration: none;
}

div.page_header a:visited {
	color: #000000;
}

div.page_header a:hover {
	color: E66C2C;
	text-decoration: underline;
}

div.page_footer {
	height: 17px;
	color: black;
	background-color: #ffffff;
	padding: 5px;
	border-top: 1px solid #bbb;
	font-style: italic;
}

div.page_nav {
	color: #ddd;
	background-color: #000070;
	padding: 5px;
}

div.page_nav a {
	color: yellow;
	text-decoration: none;
}

div.page_nav a:hover {	
	text-decoration: underline;
}

div.page_nav em {
	font-style: normal;
}

div.page_nav2 {
	padding: 2px 5px 7px 5px;	
}

.repositories_message {
	border: solid #bbb;
	border-width: 0px 0px 1px;
	padding: 8px;
}

div.page_path {
	padding: 8px;
	font-weight: bold;
	border: solid #bbb;
	border-width: 0px 0px 1px;
}

div.commit_message {
	padding: 8px;
	border: solid #bbb;
	border-width: 1px 0px 0px;
}

div.bug_open, span.bug_open {
	padding: 2px;
	background-color: #800000;
	color: white;	
	text-align: center;
}

div.bug_resolved, span.bug_resolved {
	padding: 2px;
	background-color: #008000;
	color: white;
	text-align: center;
}

div.bug_invalid, span.bug_invalid {
	padding: 2px;
	background-color: gray;
	text-align: center;
}

div.bug_hold, span.bug_hold {
	padding: 2px;
	background-color: orange;
	text-align: center;
}

div.diff {
	font-family: monospace;
}

div.diff.header {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EDECE6;
    border-color: #D9D8D1;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    margin-top: 10px;
    padding: 4px 0 2px;
}

div.diff.extended_header {
	background-color: #F6F5EE;
    padding: 2px 0;
    font-family: inherit;
}

span.diff.add {
	color: #008800;
	font-family: inherit;
}

span.diff.remove {
	color: #cc0000;
	font-family: inherit;
}

span.diff.unchanged {
	color: inherit;
	font-family: inherit;
}

div.diff.hunk_header {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFE0FF;
    border-style: dotted;
    border-width: 1px 0 0;
    margin-top: 2px;
    font-family: inherit;
}

span.diff.hunk_info {
	background-color: #FFEEFF;	
	color: #990099;
	font-family: inherit;
}

span.diff.hunk_section {	
	color: #AA22AA;
	font-family: inherit;
}

a.list {
	text-decoration: none;
	color: #000000;
}

a.list:hover {
	text-decoration: underline;
	color: #880000;
}

table {
	border-spacing: 0px;
}

th {
	padding: 2px 5px;
	font-size: 100%;
	text-align: left;
}

table.plain {
	padding: 8px;
}

table.pretty, table.repositories {
	margin-bottom:5px;
	border-spacing: 0px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;	
}

table.pretty td {
	padding: 2px 4px;
}

table.repositories {
	width:100%;	
}

table.repositories th {
	background-color:#D2C3AF;
	padding: 4px;
	border-bottom: 1px solid #808080;
}

table.repositories td {
	padding: 4px;
}

table.repositories th a {
	color:black;/*#ddd;*/
	text-decoration: none;
	font-weight: normal;
}

table.repositories th a:hover {
	text-decoration: underline;
}

table.repositories th.wicket_orderDown a, table.repositories th.wicket_orderUp a {
	color: black;
	font-weight: bold;
}

tr th a { padding-right: 15px; background-position: right; background-repeat:no-repeat; }
tr th.wicket_orderDown a {background-image: url(arrow_down.png); }
tr th.wicket_orderUp a { background-image: url(arrow_up.png); }
tr th.wicket_orderNone a { background-image: url(arrow_off.png); }

tr.light {
	background-color: #ffffff;
}

tr.light td {
	border-bottom: 1px solid #bbb;	
}

tr.dark {
	background-color: #faf8dc;
	border-bottom: 1px solid #bbb;	
}

tr.dark td {
	border-bottom: 1px solid #bbb;	
}

/* currently both use the same, but it can change */
tr.light:hover,
tr.dark:hover {
	/*background-color: #0099b7;*/
	background-color: #000070;
	color: white;
}

tr.light:hover a,
tr.dark:hover a {
	color: white;	
}

td {
	padding-left: 7px;
	padding-right: 7px;
}

td.author {
	font-style: italic;
}

td.date {
	font-style: italic;	
}

span.sha1, span.sha1 a, span.sha1 a span {
	font-family: monospace;
	font-size: 13px;
}

td.mode {
	font-family: monospace;
	width:90px;
	padding-right:15px;
}

td.size {
	text-align: right;
	width:100px;	
	padding-right:15px;
}

td.rightAlign {
	text-align: right;
}

span .tagRef, span .headRef, span .remoteRef, span .otherRef {	
	padding: 0px 4px;
	margin-right:2px;
	font-family: sans-serif;
	font-size: 9px;
	font-weight: normal;
	border: 1px solid;
	color: black;
}

span .tagRef a span, span .headRef a span, span .remoteRef a span, span .otherRef a span {
	font-size: 9px;
}

span .tagRef a, span .headRef a, span .remoteRef a, span .otherRef a {
	text-decoration: none;
	color: black;
}

span .tagRef a:hover, span .headRef a:hover, span .remoteRef a:hover, span .otherRef a:hover {
	color: black;
	text-decoration: underline;
}

span .otherRef {
	background-color: #ffaaff;
	border-color: #ffccff #ff00ee #ff00ee #ffccff;
}

span .remoteRef {
	background-color: #aaaaff;
	border-color: #ccccff #0033cc #0033cc #ccccff;
}

span .tagRef {
	background-color: #ffffaa;
	border-color: #ffffcc #ffee00 #ffee00 #ffffcc;
}

span .headRef {
	background-color: #aaffaa;
	border-color: #ccffcc #00cc33 #00cc33 #ccffcc;
}